@mixin padding() {
  padding: 0 20px;
}

.menu {
  float: left;
  width: 300px;
  background: #2f3e51;
  color: #fff;
  height: 100%;
   

  &_top {
    background: #253141;
    height: 100px;
    font-size: 16px;
    font-weight: bold;
    @include padding();
    line-height: 100px;
    margin-bottom: 20px;
    .icons {
      float: right;
    }
  }
  &_middle {
    @include padding();
    height: calc(100% - 120px);
    overflow: scroll;
    .group_list {
      margin-bottom: 40px;
      .grpup__name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      .group__message {
        font-size: 11px;
      }
    }
  }
}