
@import "font-awesome";
@import "./reset";
@import "./menu";
@import "./header";
@import "./main";
@import "./message_form";



html {
  height: 100%;
  body {
    height: 100%;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}